@import "tailwindcss";

@layer base {
  :root {
    --color-white: #FFFFFF;
    --color-gray1: #898A8B;
    --color-gray2: #636365;
    --color-gray3: #2C3137;
    --color-purple: #C3C2F5;
    --color-red: #4D2222;
    --color-black: #0B0B0C;
    
    --gradient-main: linear-gradient(180deg, #D9D9D9 0%, #C3C2F5 100%);
    --gradient-stroke: linear-gradient(180deg, #FFFFFF 0%, #F6E0F5 100%);
    --gradient-bg: linear-gradient(180deg, #0B0B0C 0%, #2C3137 100%);
  }
}

html {
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  font-family: var(--font-lexend-exa), sans-serif;
  min-height: 100vh;
  background: var(--gradient-bg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: var(--font-quando), serif;
  font-size: 48px;
  line-height: auto;
}

h2 {
  font-size: 24px;
  line-height: auto;
}

h4 {
  font-size: 14px;
  line-height: auto;
}

.text-navbar {
  font-size: 14px;
  line-height: 16px;
}

.text-button {
  font-size: 14px;
  line-height: 16px;
}

.text-small-title {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.text-field {
  font-size: 14px;
  line-height: 16px;
}

.text-field-small {
  font-size: 12px;
  line-height: auto;
}

.text-link {
  font-size: 10px;
  line-height: auto;
}

.text-user{
  font-size: 20px;
  line-height: auto;
}

/* Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-purple);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray1);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
