@import "tailwindcss";

body {
  font-family: var(--font-lexend-exa), sans-serif;
}

h1 {
  font-family: var(--font-quando), serif;
  font-size: 48px;
  line-height: auto;
}

h2 {
  font-size: 24px;
  line-height: auto;
}

h4 {
  font-size: 14px;
  line-height: auto;
}

.text-navbar {
  font-size: 14px;
  line-height: 16px;
}

.text-button {
  font-size: 14px;
  line-height: 16px;
}

.text-small-title {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.text-field {
  font-size: 14px;
  line-height: 16px;
}

.text-field-small {
  font-size: 12px;
  line-height: auto;
}

.text-link {
  font-size: 10px;
  line-height: auto;
}
